venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
.DS_Store
.spotify_cache
.cache
flask_session/
tests/
*.md
.git/
.gitignore
Dockerfile
.dockerignore
